.table 
{
	border-size: 0px;
}
.title{
	text-align: center;
	box-shadow: none;	
}
.item-price {
	font-size: 30px;
	text-align: center;
	font-family: monospace;
	vertical-align: middle;
}


.post-image>img {
	border-radius: 8px;
	display: block;
	margin: auto;
	border: 1px solid;
}
.post-image{
		background-color: #DDDDDD;
}
.post-body{
	font-size: 14px;
	text-align: justify;
	text-indent: 18px;

}

