<div *ngIf="post" class="post panel">
   
   <table class="table table-condensed">
       <thead>
           <tr class="info">
               <th colspan="2" class="title">{{ post.title}} .{{ post.createdOn | date:'mediumDate' }}</th>
           </tr>
       </thead>
       <tbody>
           <tr>
                <td class="post-image">
                    <img src = "{{post.postImg}}" width=400 height=300> 
                </td>
               <td class="post-body" [innerHTML]="post.body"></td>
           </tr>
       </tbody>
   </table>
</div>


  <div *ngIf="error" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  {{error}}
</div>
