.block-right {
	float: right;
}
.panel{
    border-color: #42f445;
}

.img-color {
	padding-left: 30px;
	font-family: cursive;
}
.container{
	max-width: 900px;
    padding-top: 20px;
}
.panel-heading{
    background-color: #000000;
    color: #ffffff;
    font-style: italic; 
}
.panel-body{
    padding: 0px;
    overflow:ellipsis;
}
a:link,a:visited{
    color: black;
}

img {
    border: 0px solid #ddd;
    border-radius: 2px;
    max-height: 200px;
    width: auto;
}


#bodybox{
    min-height: 150px;
    max-height: 300px;
    padding-top: 18px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 20px;
    background: linear-gradient(#f2f2f2,#E2E2E2);
    overflow:scroll;
}
#imgbox{
    text-align: center;
    max-height: 300px;
    padding-top: 40px;
}

.row{
    overflow: scroll;
    min-height: 150px;
    text-align: justify;
    text-indent: 18px;
    padding-left: 5px;
    padding-right: 0px;
    margin: 0px;
}

