.container {
	position: static;
	z-index: 1;
	margin: 2px 0px;
	width: 100%;
	padding: 0px;
}
.row2 {
	position: static;
	z-index: -1;
	padding-left: 0px;
	margin-top: 1px;
	margin-left: 0px;
	background-color: #444444;
}

