.btn {
   margin-top: 8px;
   margin-bottom: 8px;
   margin-right: 8px;
}
.table 
{
	border-size: 0px;
}
.item-price {
	font-size: 30px;
	text-align: center;
	font-family: monospace;
	vertical-align: middle;
}
.price-header{
	text-align: center;
}

.item-image>img {
	border-radius: 8px;
	display: block;
	margin: auto;
	border: 1px solid;
}
